# -----------------------------
# Quarto
# -----------------------------
.quarto/
**/*.quarto_ipynb

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual environments
# -----------------------------
.venv/
venv/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db